= render 'layouts/notifications'

.pay
  .main_contents
    .main_details
      .main_details__message
        購入が完了しました。
    # 商品の表示を部分テンプレートで共通化
    # 今回の実装にはあまり関係ないので省略
    = render "purchases/shared/purchase_product_info.html.haml", product: @product, images: @images
    %ul.purchased__links
      %li.purchased__links__TopPage
        = link_to "トップページに戻る", root_path, class: "purchased__links__TopPage__btn"
      %li.purchased__links__index
        = link_to "購入商品一覧", "#", class: "purchased__links__index__btn"