.Mypage
  
  .main
    .main__user
      = image_tag "http://momo.gmobb.jp/hikari.kobayashi1212/face.png"

    .main__userstatus
      .main__evaluation
        評価 0
      .main__xhibition
        出品数 0
  .sub
    .sub__newsl
      .sub__newsl__newss
        %bお知らせ
    .sub__actionlistl
      .sub__actionlistl__actionlist
        %bやることリスト

  .sub2
    .sub2__item
      %b購入した商品
    .sub2__transactions
      .sub2__transactions__transactionnow
        .sub2__transactions__transactionnow__name
          %b取引中
      .sub2__transactions__transactionpast
        .sub2__transactions__transactionpast__name
          %b過去の取引
        
  .details
    .details__mypage.border
      マイページ 
    .details__news.border
      お知らせ
    .details__action.border
      やることリスト
    .details__good.border
      いいね！いいね！一覧
    .details__exhibition.border
      出品する
    .details__draft.border
      下書き一覧
    .details__exhibitionnow.border
      出品した商品-出品中
    .details__transactionnow.border
      購入した商品-取引中
    .details__sale.border
      出品した商品-売却済み
    .details__purchase.border
      購入した商品-取引中
    .details__purchasepast.border
      購入した商品-過去の取引
    .details__news.border
      ニュース一覧
    .details__evaluations.border
      評価一覧
    .details__guide.border
      ガイド
    .details__contact.border
      お問い合わせ
    .details__merupay.border
      メルペイ
    .details__sales.border
      売り上げ・振り込み申請
    .details__point.border
      ポイント
    .details__configuration.border
      設定
    .details__profile.border
      プロフィール
    .details__shippingaddress.border
      発送元・お届け先住所変更
    .details__payment.border
      お支払い方法
    .details__mailpass.border
      メール/パスワード
    .details__information.border
      本人情報
    .details__tell.border
      電話番号の確認
    .details__logout.border.bottom
      ログアウト
