.wrapper
  .header
    .headerLogo
      -# = link_to image_tag("logo/logo.png", class: "logo"), action: "index"

  .main
    .mainText
      .mainText__lists
        .mainText__lists--1
          .textBox1
            購入内容の確認
        .mainText__lists--2
          .textBox2
            .itemImage
              商品画像
            .itemInfo
              %p.itemName
                商品名
              %p.itemPrice
                値段
        .mainText__lists--3
          .textBox3
            .payment
              .paymentText
                支払い金額
              .paymentAmount
                金額
            .usePoints
              ポイントの利用はありません
        .mainText__lists--4
          .textBox4
            %h3.paymentMethod
              支払い方法
            .cardInfo
              = link_to "登録してください", "/credit_cards/new", method: :get
              -# :plain
              -#   <script type="text/javascript"
              -#   src="https://checkout.pay.jp/"
              -#   class="payjp-button"
              -#   data-key="公開鍵"
              -#   data-submit-text="カードで支払う"
              -#   data-partial="true">
              -#   </script>
        .mainText__lists--5
          .textBox5
            %h3.shippingText
              配送先
            .addressInfo
              = link_to "登録してください", "#"
        .mainText__lists--6
          .textBox6
            .precautions
              郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
            .headsUp
              配送先と支払い方法の入力を完了してください。
            .purchaseButton
              = submit_tag "購入する", id: "button"

  .footer
    .footerText
      %ul.footerText__lists
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          特定商取引に関する表記
    .footerLogo
      -# = link_to image_tag("logo/logo.png", class: "logo"), action: "index"
    .footerCompany
      ©︎FURIMA, Inc