.purchaseHead {
  width: 100%;
  padding: 40px 0;
  &__logo {
    max-width: 456px;
    margin: 0 auto;
    text-align: center;
    img {
      width: 185px;
    }
  }
}

.card_add {
  .title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .details {
    font-size: 16px;
    text-align: center;
    .number-details {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      .card-number {
        font-weight: bold;
      }
      .must_check {
        margin-left: 10px;
        padding: 5px 8px;
        color: #ffffff;
        font-size: 12px;
        background: #ea352d;
        border: 4px;
        vertical-align: top;
      }
    }
    .number {
      margin-bottom: 20px;
      .cardnumber {
        width: 300px;
        padding: 15px;
        margin-bottom: 5px;
      }
    }
    .image {
      .visa {
        height: 30px;
        width: 50px;
      }
      .master {
        height: 30px;
        width: 50px;
      }
      .jcb {
        height: 30px;
        width: 50px;
      }
      .amex {
        height: 30px;
        width: 50px;
      }
    }
    .expirationdate {
      margin-top: 30px;
      &__details {
        display: flex;
        justify-content: center;
        .date {
          font-weight: bold;
        }
        .must_check {
          margin-left: 10px;
          padding: 5px 8px;
          color: #ffffff;
          font-size: 12px;
          background: #ea352d;
          border: 4px;
          vertical-align: top;
        }
      }
      &__choice {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        .month {
          display: flex;
          align-items: center;
          #payment_card_month.card-default {
            padding: 10px 20px;
            margin-right: 5px;
          }
          .month-details {
            font-weight: bold;
            margin-right: 5px;
          }
        }
        .year {
          display: flex;
          align-items: center;
          #payment_card_year.card-default {
            padding: 10px 20px;
            margin-right: 5px;
          }
          .year-details {
            font-weight: bold;
          }
        }
      }
    }
    .securitycode {
      margin-top: 30px;
      &__details {
        display: flex;
        justify-content: center;
        &__title {
          font-weight: bold;
        }
        .must_check {
          margin-left: 10px;
          padding: 5px 8px;
          color: #ffffff;
          font-size: 12px;
          background: #ea352d;
          border: 4px;
          vertical-align: top;
        }
      }
      &__cardsecurity {
        margin-top: 15px;
        &__form {
          width: 300px;
          padding: 15px;
        }
      }
    }
    .add {
      &__btn {
        width: 300px;
        margin-top: 50px;
        padding: 10px;
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        color: #fff;
        border-style: none;
        background-color: #3CCACE;
        cursor: pointer;
      }
    }
  }
}

.pay {
  .main_contents {
    width: 100%;
    .main_details {
      max-width: 750px;
      margin: 0 auto;
      &__message {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .purchased__links {
      text-align: center;
      a {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        text-align: center;
        border-radius: 5px;
        color: #fff;
        border-style: none;
        background-color: #3CCACE;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}